Repository kottans/frontend-2019-homeworks, pull requests merged in 2019-01, with the labels that each got.

#175 Practical DOM JS
  submissions/zophrox/js-dom/app.js
  submissions/zophrox/js-dom/index.html
  submissions/zophrox/js-dom/style.css
Labels: duplicate

#245 Complete Friends App
  submissions/bugagashinka/friends-app/index.html
  submissions/bugagashinka/friends-app/js/components/FiltersContainer.js
  submissions/bugagashinka/friends-app/js/components/FriendsList.js
  submissions/bugagashinka/friends-app/js/main.js
  submissions/bugagashinka/friends-app/styles/main.css
Labels: friends-app

#247 OOP exercise
  submissions/dnzln/oop-world/index.js
Labels: js-post-oop

#242 add friends-app task
  submissions/allykrupina/friends-app/img/card.png
  submissions/allykrupina/friends-app/index.html
  submissions/allykrupina/friends-app/main.js
  submissions/allykrupina/friends-app/style.css
Labels: friends-app

#248 memory-pair-game for review
  submissions/Karasb888/memory-pair-game/img/bg.jpg
  submissions/Karasb888/memory-pair-game/img/spanch1.png
  submissions/Karasb888/memory-pair-game/img/spanch2.png
  submissions/Karasb888/memory-pair-game/img/spanch3.png
  submissions/Karasb888/memory-pair-game/img/spanch4.png
  submissions/Karasb888/memory-pair-game/img/spanch5.png
  submissions/Karasb888/memory-pair-game/img/spanch6.png
  submissions/Karasb888/memory-pair-game/img/spanch7.png
  submissions/Karasb888/memory-pair-game/img/spanch8.png
  submissions/Karasb888/memory-pair-game/index.css
  submissions/Karasb888/memory-pair-game/index.html
  submissions/Karasb888/memory-pair-game/index.js
Labels: memory-pair-game

#223 Add Friends App
  submissions/denislukianenko/friends-app/index.html
  submissions/denislukianenko/friends-app/logo.svg
  submissions/denislukianenko/friends-app/main.js
  submissions/denislukianenko/friends-app/style.css
Labels: friends-app

#184 JS-dom
  submissions/AlexNugda/js-dom/img/aircraft/b1b/1363887384_rockwell_b-1b_rollout.jpg
  submissions/AlexNugda/js-dom/img/aircraft/b1b/b-1_03.jpg
  submissions/AlexNugda/js-dom/img/aircraft/b2/b2_spirit_.jpg
  submissions/AlexNugda/js-dom/img/aircraft/b2/northrop_b-2_spirit_us.jpg
  submissions/AlexNugda/js-dom/img/aircraft/b52/b-52h_static_display_arms_06.jpg
  submissions/AlexNugda/js-dom/img/aircraft/b52/boeing-b-52-stratofortress1.jpg
  submissions/AlexNugda/js-dom/img/aircraft/tu160/18-28-51-2649195.jpg
  submissions/AlexNugda/js-dom/img/aircraft/tu160/rcmoq4n.jpg
  submissions/AlexNugda/js-dom/img/aircraft/tu160/tu-160-sverhzvukovoi-str-raket-bombar-09.jpg
  submissions/AlexNugda/js-dom/img/aircraft/tu160/tu-160_24.jpg
  submissions/AlexNugda/js-dom/img/aircraft/tu22/800px-tu-22_scrapyard.jpg
  submissions/AlexNugda/js-dom/img/aircraft/tu22/tu22m3-3.jpg
  submissions/AlexNugda/js-dom/img/aircraft/tu95/tu-95-02.jpg
  submissions/AlexNugda/js-dom/img/aircraft/tu95/tupolev_tu-95_in_flight.jpg
  submissions/AlexNugda/js-dom/index.html
  submissions/AlexNugda/js-dom/script.js
  submissions/AlexNugda/js-dom/style.css
Labels: js-dom

#210 Add oop version of Tiny JS World
  submissions/Humminggoo/tiny-js-world-oop/index.js
Labels: js-post-oop

#194 OOP tiny-js-world - done
  submissions/Karasb888/OOP-tiny-js-world/index.js
Labels: js-post-oop

#258 OOP task - frogger
  submissions/olek557/js-oop/app.js
Labels: js-oop

#269 DOM task
  submissions/vv2529/js-dom/data/commit.json
  submissions/vv2529/js-dom/data/hoist.json
  submissions/vv2529/js-dom/data/home.json
  submissions/vv2529/js-dom/data/mitigate.json
  submissions/vv2529/js-dom/data/traverse.json
  submissions/vv2529/js-dom/index.html
  submissions/vv2529/js-dom/script.js
  submissions/vv2529/js-dom/style.css
Labels: js-dom

#268 Memory pair game
  submissions/olek557/memory-pair-game/index.html
  submissions/olek557/memory-pair-game/morocco-blue.png
  submissions/olek557/memory-pair-game/script.js
  submissions/olek557/memory-pair-game/style.css
Labels: memory-pair-game

#267 A tiny Js world - OOP
  submissions/olek557/js-post-oop-task/index.js
Labels: js-post-oop

#273 create friends app
  submissions/yulyasystem/friends-app/README.md
  submissions/yulyasystem/friends-app/index.html
  submissions/yulyasystem/friends-app/script.js
  submissions/yulyasystem/friends-app/style.css
Labels: friends-app

#282 A tiny js world.
  submissions/krash1408/tiny-js-world/index.js
Labels: js-pre-oop

#281 A tiny JS world
  submissions/vv2529/a-tiny-js-world/index.js
Labels: js-pre-oop

#39 OOP exercise
  submissions/feroxes/a-tiny-js-world/script.js
Labels: js-post-oop

#270 js-dom task done
  submissions/mfialko/js-dom/app.js
  submissions/mfialko/js-dom/index.html
  submissions/mfialko/js-dom/style.css
Labels: js-dom

#234 Task 8. Object Oriented JS
  submissions/babayK0/Object-Oriented-JS/Frogger/README.md
  submissions/babayK0/Object-Oriented-JS/Frogger/css/style.css
  submissions/babayK0/Object-Oriented-JS/Frogger/images/Gem Blue.png
  submissions/babayK0/Object-Oriented-JS/Frogger/images/Gem Green.png
  submissions/babayK0/Object-Oriented-JS/Frogger/images/Gem Orange.png
  submissions/babayK0/Object-Oriented-JS/Frogger/images/Heart.png
  submissions/babayK0/Object-Oriented-JS/Frogger/images/Key.png
  submissions/babayK0/Object-Oriented-JS/Frogger/images/Rock.png
  submissions/babayK0/Object-Oriented-JS/Frogger/images/Selector.png
  submissions/babayK0/Object-Oriented-JS/Frogger/images/Star.png
  submissions/babayK0/Object-Oriented-JS/Frogger/images/char-boy.png
  submissions/babayK0/Object-Oriented-JS/Frogger/images/char-cat-girl.png
  submissions/babayK0/Object-Oriented-JS/Frogger/images/char-horn-girl.png
  submissions/babayK0/Object-Oriented-JS/Frogger/images/char-pink-girl.png
  submissions/babayK0/Object-Oriented-JS/Frogger/images/char-princess-girl.png
  submissions/babayK0/Object-Oriented-JS/Frogger/images/enemy-bug.png
  submissions/babayK0/Object-Oriented-JS/Frogger/images/grass-block.png
  submissions/babayK0/Object-Oriented-JS/Frogger/images/stone-block.png
  submissions/babayK0/Object-Oriented-JS/Frogger/images/water-block.png
  submissions/babayK0/Object-Oriented-JS/Frogger/index.html
  submissions/babayK0/Object-Oriented-JS/Frogger/js/app.js
  submissions/babayK0/Object-Oriented-JS/Frogger/js/engine.js
  submissions/babayK0/Object-Oriented-JS/Frogger/js/resources.js
Labels: js-oop

#249 Add practical task js-dom
  submissions/dizerfree/js-dom/css/responsive.css
  submissions/dizerfree/js-dom/css/style.css
  submissions/dizerfree/js-dom/img/glasses_1.jpg
  submissions/dizerfree/js-dom/img/glasses_2.jpg
  submissions/dizerfree/js-dom/img/glasses_3.jpg
  submissions/dizerfree/js-dom/img/glasses_4.jpg
  submissions/dizerfree/js-dom/index.html
  submissions/dizerfree/js-dom/js/script.js
Labels: js-dom

#238 Object Oriented JS
  submissions/OlgaDubynka/js-oop-frogger/README.md
  submissions/OlgaDubynka/js-oop-frogger/css/style.css
  submissions/OlgaDubynka/js-oop-frogger/images/Gem Blue.png
  submissions/OlgaDubynka/js-oop-frogger/images/Gem Green.png
  submissions/OlgaDubynka/js-oop-frogger/images/Gem Orange.png
  submissions/OlgaDubynka/js-oop-frogger/images/Heart.png
  submissions/OlgaDubynka/js-oop-frogger/images/Key.png
  submissions/OlgaDubynka/js-oop-frogger/images/Rock.png
  submissions/OlgaDubynka/js-oop-frogger/images/Selector.png
  submissions/OlgaDubynka/js-oop-frogger/images/Star.png
  submissions/OlgaDubynka/js-oop-frogger/images/char-boy.png
  submissions/OlgaDubynka/js-oop-frogger/images/char-cat-girl.png
  submissions/OlgaDubynka/js-oop-frogger/images/char-horn-girl.png
  submissions/OlgaDubynka/js-oop-frogger/images/char-pink-girl.png
  submissions/OlgaDubynka/js-oop-frogger/images/char-princess-girl.png
  submissions/OlgaDubynka/js-oop-frogger/images/enemy-bug.png
  submissions/OlgaDubynka/js-oop-frogger/images/grass-block.png
  submissions/OlgaDubynka/js-oop-frogger/images/stone-block.png
  submissions/OlgaDubynka/js-oop-frogger/images/water-block.png
  submissions/OlgaDubynka/js-oop-frogger/index.html
  submissions/OlgaDubynka/js-oop-frogger/js/app.js
  submissions/OlgaDubynka/js-oop-frogger/js/engine.js
  submissions/OlgaDubynka/js-oop-frogger/js/resources.js
Labels: js-oop

#256 add Frogger game
  submissions/SergSenras/js-frogger-game/README.md
  submissions/SergSenras/js-frogger-game/css/style.css
  submissions/SergSenras/js-frogger-game/images/Gem Blue.png
  submissions/SergSenras/js-frogger-game/images/Gem Green.png
  submissions/SergSenras/js-frogger-game/images/Gem Orange.png
  submissions/SergSenras/js-frogger-game/images/Heart.png
  submissions/SergSenras/js-frogger-game/images/Key.png
  submissions/SergSenras/js-frogger-game/images/Rock.png
  submissions/SergSenras/js-frogger-game/images/Selector.png
  submissions/SergSenras/js-frogger-game/images/Star.png
  submissions/SergSenras/js-frogger-game/images/char-boy.png
  submissions/SergSenras/js-frogger-game/images/char-cat-girl.png
  submissions/SergSenras/js-frogger-game/images/char-horn-girl.png
  submissions/SergSenras/js-frogger-game/images/char-pink-girl.png
  submissions/SergSenras/js-frogger-game/images/char-princess-girl.png
  submissions/SergSenras/js-frogger-game/images/enemy-bug.png
  submissions/SergSenras/js-frogger-game/images/grass-block.png
  submissions/SergSenras/js-frogger-game/images/stone-block.png
  submissions/SergSenras/js-frogger-game/images/water-block.png
  submissions/SergSenras/js-frogger-game/index.html
  submissions/SergSenras/js-frogger-game/js/app.js
  submissions/SergSenras/js-frogger-game/js/engine.js
  submissions/SergSenras/js-frogger-game/js/resources.js
Labels: js-oop

#262 memory-pair-game
  submissions/vladk96/memory-pair-game/css/style.css
  submissions/vladk96/memory-pair-game/img/angry.svg
  submissions/vladk96/memory-pair-game/img/back.jpg
  submissions/vladk96/memory-pair-game/img/cold.svg
  submissions/vladk96/memory-pair-game/img/cool.svg
  submissions/vladk96/memory-pair-game/img/love.svg
  submissions/vladk96/memory-pair-game/img/nerd.svg
  submissions/vladk96/memory-pair-game/img/sick.svg
  submissions/vladk96/memory-pair-game/index.html
  submissions/vladk96/memory-pair-game/js/app.js
Labels: memory-pair-game

#294 OOP: Frogger game
  submissions/vv2529/frogger/README.md
  submissions/vv2529/frogger/css/style.css
  submissions/vv2529/frogger/images/Gem Blue.png
  submissions/vv2529/frogger/images/Gem Green.png
  submissions/vv2529/frogger/images/Gem Orange.png
  submissions/vv2529/frogger/images/Heart.png
  submissions/vv2529/frogger/images/Key.png
  submissions/vv2529/frogger/images/Rock.png
  submissions/vv2529/frogger/images/Selector.png
  submissions/vv2529/frogger/images/Star.png
  submissions/vv2529/frogger/images/char-boy.png
  submissions/vv2529/frogger/images/char-cat-girl.png
  submissions/vv2529/frogger/images/char-horn-girl.png
  submissions/vv2529/frogger/images/char-pink-girl.png
  submissions/vv2529/frogger/images/char-princess-girl.png
  submissions/vv2529/frogger/images/enemy-bug.png
  submissions/vv2529/frogger/images/grass-block.png
  submissions/vv2529/frogger/images/stone-block.png
  submissions/vv2529/frogger/images/water-block.png
  submissions/vv2529/frogger/index.html
  submissions/vv2529/frogger/js/app.js
  submissions/vv2529/frogger/js/engine.js
  submissions/vv2529/frogger/js/resources.js
Labels: js-oop

#275 memory-pair-game
  submissions/OlgaDubynka/memory-pair-game/img/bg-banana1.png
  submissions/OlgaDubynka/memory-pair-game/img/bg-eyes.png
  submissions/OlgaDubynka/memory-pair-game/img/man.png
  submissions/OlgaDubynka/memory-pair-game/img/minion1.png
  submissions/OlgaDubynka/memory-pair-game/img/minion2.png
  submissions/OlgaDubynka/memory-pair-game/img/minion3.png
  submissions/OlgaDubynka/memory-pair-game/img/minion4.png
  submissions/OlgaDubynka/memory-pair-game/img/minion5.png
  submissions/OlgaDubynka/memory-pair-game/img/minion6.png
  submissions/OlgaDubynka/memory-pair-game/img/minion7.png
  submissions/OlgaDubynka/memory-pair-game/img/minion8.png
  submissions/OlgaDubynka/memory-pair-game/index.html
  submissions/OlgaDubynka/memory-pair-game/main.css
  submissions/OlgaDubynka/memory-pair-game/main.js
Labels: memory-pair-game

#295 add "Tiny JS World OOP"
  submissions/SergSenras/tiny-js-world-oop/index.js
Labels: js-post-oop

#300 add tiny-js-world task
  submissions/iamsokol/tiny-js-world/index.js
Labels: js-pre-oop

#297 OOP Exercise
  submissions/ivarshavets/js-post-oop/index.js
Labels: js-post-oop

#280 create a tiny JS world OOP
  submissions/AlexNugda/a-tiny-JS-world-oop/index.js
Labels: js-post-oop

#279 add js-dom task
  submissions/frostwolm/js-dom/css/app.css
  submissions/frostwolm/js-dom/css/normalize.css
  submissions/frostwolm/js-dom/img/art1.png
  submissions/frostwolm/js-dom/img/art2.png
  submissions/frostwolm/js-dom/img/art3.png
  submissions/frostwolm/js-dom/img/art4.png
  submissions/frostwolm/js-dom/index.html
  submissions/frostwolm/js-dom/js/app.js
Labels: js-dom

#236 Add advanced-OOP task
  submissions/webdevagent/advanced-oop/index.js
Labels: js-post-oop

#265 Add js OOP Frogger homework
  submissions/Roman-Halenko/js-oop-frogger/README.md
  submissions/Roman-Halenko/js-oop-frogger/css/style.css
  submissions/Roman-Halenko/js-oop-frogger/images/Gem Blue.png
  submissions/Roman-Halenko/js-oop-frogger/images/Gem Green.png
  submissions/Roman-Halenko/js-oop-frogger/images/Gem Orange.png
  submissions/Roman-Halenko/js-oop-frogger/images/Heart.png
  submissions/Roman-Halenko/js-oop-frogger/images/Key.png
  submissions/Roman-Halenko/js-oop-frogger/images/Rock.png
  submissions/Roman-Halenko/js-oop-frogger/images/Selector.png
  submissions/Roman-Halenko/js-oop-frogger/images/Star.png
  submissions/Roman-Halenko/js-oop-frogger/images/char-boy.png
  submissions/Roman-Halenko/js-oop-frogger/images/char-cat-girl.png
  submissions/Roman-Halenko/js-oop-frogger/images/char-horn-girl.png
  submissions/Roman-Halenko/js-oop-frogger/images/char-pink-girl.png
  submissions/Roman-Halenko/js-oop-frogger/images/char-princess-girl.png
  submissions/Roman-Halenko/js-oop-frogger/images/enemy-bug.png
  submissions/Roman-Halenko/js-oop-frogger/images/grass-block.png
  submissions/Roman-Halenko/js-oop-frogger/images/stone-block.png
  submissions/Roman-Halenko/js-oop-frogger/images/water-block.png
  submissions/Roman-Halenko/js-oop-frogger/index.html
  submissions/Roman-Halenko/js-oop-frogger/js/app.js
  submissions/Roman-Halenko/js-oop-frogger/js/engine.js
  submissions/Roman-Halenko/js-oop-frogger/js/resources.js
Labels: js-oop

#263 dom-api-task
  submissions/nataliereshetnikova/js-dom/index.html
  submissions/nataliereshetnikova/js-dom/script.js
  submissions/nataliereshetnikova/js-dom/style.css
Labels: js-dom

#296 a-tiny-JS-world
  submissions/mazvira/a-tiny-JS-world/index.js
Labels: js-pre-oop

#304 A tiny JS world (OOP)
  submissions/vv2529/a-tiny-js-world-oop/index.js
Labels: js-post-oop

#301 js oop practice
  submissions/iamsokol/tiny-js-world-2/index.js
Labels: js-post-oop

#253 Add memory-pair-game
  submissions/CuteShaun/memory-pair-game/css/styles.css
  submissions/CuteShaun/memory-pair-game/img/bill.png
  submissions/CuteShaun/memory-pair-game/img/dipper.png
  submissions/CuteShaun/memory-pair-game/img/ford.jpg
  submissions/CuteShaun/memory-pair-game/img/gravity-background.jpg
  submissions/CuteShaun/memory-pair-game/img/mabel.png
  submissions/CuteShaun/memory-pair-game/img/pacifica.png
  submissions/CuteShaun/memory-pair-game/img/puhlya.png
  submissions/CuteShaun/memory-pair-game/img/robby.png
  submissions/CuteShaun/memory-pair-game/img/soos.png
  submissions/CuteShaun/memory-pair-game/img/stan.png
  submissions/CuteShaun/memory-pair-game/img/vendy.png
  submissions/CuteShaun/memory-pair-game/index.html
  submissions/CuteShaun/memory-pair-game/js/script.js
Labels: memory-pair-game

#291 Add friends-app
  submissions/CuteShaun/friends-app/css/styles.css
  submissions/CuteShaun/friends-app/img/gravity-background-big.jpg
  submissions/CuteShaun/friends-app/index.html
  submissions/CuteShaun/friends-app/js/script.js
Labels: friends-app

#285 add forogger task
  submissions/frostwolm/frogger/README.md
  submissions/frostwolm/frogger/css/style.css
  submissions/frostwolm/frogger/images/Gem Blue.png
  submissions/frostwolm/frogger/images/Gem Green.png
  submissions/frostwolm/frogger/images/Gem Orange.png
  submissions/frostwolm/frogger/images/Heart.png
  submissions/frostwolm/frogger/images/Key.png
  submissions/frostwolm/frogger/images/Rock.png
  submissions/frostwolm/frogger/images/Selector.png
  submissions/frostwolm/frogger/images/Star.png
  submissions/frostwolm/frogger/images/char-boy.png
  submissions/frostwolm/frogger/images/char-cat-girl.png
  submissions/frostwolm/frogger/images/char-horn-girl.png
  submissions/frostwolm/frogger/images/char-pink-girl.png
  submissions/frostwolm/frogger/images/char-princess-girl.png
  submissions/frostwolm/frogger/images/enemy-bug.png
  submissions/frostwolm/frogger/images/grass-block.png
  submissions/frostwolm/frogger/images/stone-block.png
  submissions/frostwolm/frogger/images/water-block.png
  submissions/frostwolm/frogger/index.html
  submissions/frostwolm/frogger/js/app.js
  submissions/frostwolm/frogger/js/engine.js
  submissions/frostwolm/frogger/js/resources.js
Labels: js-oop

#302 Task js-DOM-menu
  submissions/patrofimov/js-dom/css/main.css
  submissions/patrofimov/js-dom/css/responsive.css
  submissions/patrofimov/js-dom/img/bart.png
  submissions/patrofimov/js-dom/img/gomer.png
  submissions/patrofimov/js-dom/img/liza.jpg
  submissions/patrofimov/js-dom/img/marge.png
  submissions/patrofimov/js-dom/index.html
  submissions/patrofimov/js-dom/js-dom.rar
  submissions/patrofimov/js-dom/js/script.js
Labels: js-dom

#251 js-oop-task
  submissions/sioniks/js-oop/app.js
Labels: js-oop

#298 add js_dom task
  submissions/iamsokol/js_dom/index.html
  submissions/iamsokol/js_dom/script.js
  submissions/iamsokol/js_dom/style.css
Labels: js-dom

#252 Friends App
  submissions/rrrds/friends-app/css/app.css
  submissions/rrrds/friends-app/css/normalize.css
  submissions/rrrds/friends-app/index.html
  submissions/rrrds/friends-app/js/app.js
Labels: friends-app

#308 A tiny-js-world-task
  submissions/patrofimov/a-tiny-js-world/index.js
Labels: js-pre-oop

#261 Friends app
  submissions/KurosavaAkira/friends-app/README.md
  submissions/KurosavaAkira/friends-app/components/Data.js
  submissions/KurosavaAkira/friends-app/components/Filters.js
  submissions/KurosavaAkira/friends-app/components/Friends.js
  submissions/KurosavaAkira/friends-app/favicon.png
  submissions/KurosavaAkira/friends-app/font/helvetica_neue_regular.ttf
  submissions/KurosavaAkira/friends-app/index.css
  submissions/KurosavaAkira/friends-app/index.html
  submissions/KurosavaAkira/friends-app/index.js
Labels: friends-app

#307 Memory-pair game
  submissions/ivarshavets/memory-pair-game/css/style.css
  submissions/ivarshavets/memory-pair-game/images/broccoli.png
  submissions/ivarshavets/memory-pair-game/images/cherries.png
  submissions/ivarshavets/memory-pair-game/images/eggplant.png
  submissions/ivarshavets/memory-pair-game/images/kiwi.png
  submissions/ivarshavets/memory-pair-game/images/lemon.png
  submissions/ivarshavets/memory-pair-game/images/pineapple.png
  submissions/ivarshavets/memory-pair-game/images/sweetcorn.png
  submissions/ivarshavets/memory-pair-game/images/watermelon.png
  submissions/ivarshavets/memory-pair-game/index.html
  submissions/ivarshavets/memory-pair-game/js/app.js
  submissions/ivarshavets/memory-pair-game/js/data.js
Labels: memory-pair-game

#303 OOP exercise.
  submissions/krash1408/tiny-js-world-OOP/index.js
Labels: js-post-oop

#311 Task Js OOP Exercise
  submissions/Roman-Halenko/js-post-oop/index.js
Labels: js-post-oop

#324 a-tiny-JS-world-OOP
  submissions/mazvira/a-tiny-JS-world-OOP/index.js
Labels: js-post-oop

#329 ### DOM sidebar
  submissions/jsmuse/DOM/index.html
  submissions/jsmuse/DOM/js/script.js
  submissions/jsmuse/DOM/styles/reset-styles.css
  submissions/jsmuse/DOM/styles/styles.css
Labels: js-dom

#333 Friends app
  submissions/vv2529/friends-app/css/style.css
  submissions/vv2529/friends-app/index.html
  submissions/vv2529/friends-app/js/filter.js
  submissions/vv2529/friends-app/js/script.js
Labels: friends-app

#317 Friends-app
  submissions/vladk96/friends-app/css/normalize.css
  submissions/vladk96/friends-app/css/style.css
  submissions/vladk96/friends-app/index.html
  submissions/vladk96/friends-app/js/app.js
Labels: friends-app

#235 Task 9. OOP exercise
  submissions/babayK0/OOP-Exercise/LICENSE.md
  submissions/babayK0/OOP-Exercise/README.md
  submissions/babayK0/OOP-Exercise/browserconfig.xml
  submissions/babayK0/OOP-Exercise/css/style.css
  submissions/babayK0/OOP-Exercise/favicon.ico
  submissions/babayK0/OOP-Exercise/ico/android-icon-144x144.png
  submissions/babayK0/OOP-Exercise/ico/android-icon-192x192.png
  submissions/babayK0/OOP-Exercise/ico/android-icon-36x36.png
  submissions/babayK0/OOP-Exercise/ico/android-icon-48x48.png
  submissions/babayK0/OOP-Exercise/ico/android-icon-72x72.png
  submissions/babayK0/OOP-Exercise/ico/android-icon-96x96.png
  submissions/babayK0/OOP-Exercise/ico/apple-icon-114x114.png
  submissions/babayK0/OOP-Exercise/ico/apple-icon-120x120.png
  submissions/babayK0/OOP-Exercise/ico/apple-icon-144x144.png
  submissions/babayK0/OOP-Exercise/ico/apple-icon-152x152.png
  submissions/babayK0/OOP-Exercise/ico/apple-icon-180x180.png
  submissions/babayK0/OOP-Exercise/ico/apple-icon-57x57.png
  submissions/babayK0/OOP-Exercise/ico/apple-icon-60x60.png
  submissions/babayK0/OOP-Exercise/ico/apple-icon-72x72.png
  submissions/babayK0/OOP-Exercise/ico/apple-icon-76x76.png
  submissions/babayK0/OOP-Exercise/ico/apple-icon-precomposed.png
  submissions/babayK0/OOP-Exercise/ico/apple-icon.png
  submissions/babayK0/OOP-Exercise/ico/favicon-16x16.png
  submissions/babayK0/OOP-Exercise/ico/favicon-32x32.png
  submissions/babayK0/OOP-Exercise/ico/favicon-96x96.png
  submissions/babayK0/OOP-Exercise/ico/manifest.json
  submissions/babayK0/OOP-Exercise/ico/ms-icon-144x144.png
  submissions/babayK0/OOP-Exercise/ico/ms-icon-150x150.png
  submissions/babayK0/OOP-Exercise/ico/ms-icon-310x310.png
  submissions/babayK0/OOP-Exercise/ico/ms-icon-70x70.png
  submissions/babayK0/OOP-Exercise/img/edit.gif
  submissions/babayK0/OOP-Exercise/img/fork.png
  submissions/babayK0/OOP-Exercise/img/pr.gif
  submissions/babayK0/OOP-Exercise/img/tiny-world-LitvinovCastle.png
  submissions/babayK0/OOP-Exercise/img/tiny-world.png
  submissions/babayK0/OOP-Exercise/index.html
  submissions/babayK0/OOP-Exercise/index.js
  submissions/babayK0/OOP-Exercise/js/lib.js
  submissions/babayK0/OOP-Exercise/worlds.md
Labels: js-post-oop

#320 Add DOM task.
  submissions/DJStar77/js-dom/css.css
  submissions/DJStar77/js-dom/img/1.jpg
  submissions/DJStar77/js-dom/img/2.jpg
  submissions/DJStar77/js-dom/img/3.jpg
  submissions/DJStar77/js-dom/img/4.jpg
  submissions/DJStar77/js-dom/img/5.jpg
  submissions/DJStar77/js-dom/img/6.jpg
  submissions/DJStar77/js-dom/index.html
  submissions/DJStar77/js-dom/js/main.js
Labels: js-dom

#284 Add friends app
  submissions/Humminggoo/friends-app/index.html
  submissions/Humminggoo/friends-app/index.js
  submissions/Humminggoo/friends-app/range-slider.js
  submissions/Humminggoo/friends-app/style/card.css
  submissions/Humminggoo/friends-app/style/desktop.css
  submissions/Humminggoo/friends-app/style/header.css
  submissions/Humminggoo/friends-app/style/menu.css
  submissions/Humminggoo/friends-app/style/radio-button.css
  submissions/Humminggoo/friends-app/style/range.css
  submissions/Humminggoo/friends-app/style/reset.css
Labels: friends-app

#278 friends-app for review
  submissions/Karasb888/friend-app/css/index.css
  submissions/Karasb888/friend-app/css/reset.css
  submissions/Karasb888/friend-app/img/ageDownC.png
  submissions/Karasb888/friend-app/img/ageDownNC.png
  submissions/Karasb888/friend-app/img/ageUpC.png
  submissions/Karasb888/friend-app/img/ageUpNC.png
  submissions/Karasb888/friend-app/img/azC.png
  submissions/Karasb888/friend-app/img/azNC.png
  submissions/Karasb888/friend-app/img/cat.gif
  submissions/Karasb888/friend-app/img/female.png
  submissions/Karasb888/friend-app/img/femaleC.png
  submissions/Karasb888/friend-app/img/femaleNC.png
  submissions/Karasb888/friend-app/img/logo.png
  submissions/Karasb888/friend-app/img/male.png
  submissions/Karasb888/friend-app/img/maleC.png
  submissions/Karasb888/friend-app/img/maleNC.png
  submissions/Karasb888/friend-app/img/zaC.png
  submissions/Karasb888/friend-app/img/zaNC.png
  submissions/Karasb888/friend-app/index.html
  submissions/Karasb888/friend-app/index.js
  submissions/Karasb888/friend-app/less/header.less
  submissions/Karasb888/friend-app/less/layout.less
  submissions/Karasb888/friend-app/less/main.less
  submissions/Karasb888/friend-app/less/users.less
  submissions/Karasb888/friend-app/less/variable.less
Labels: friends-app

#338 Memory-pair-game
  submissions/Eugene50/memory-pair-game/app.js
  submissions/Eugene50/memory-pair-game/img/_apple.jpg
  submissions/Eugene50/memory-pair-game/img/_banana.jpg
  submissions/Eugene50/memory-pair-game/img/_grusha.jpg
  submissions/Eugene50/memory-pair-game/img/_klubnika.jpg
  submissions/Eugene50/memory-pair-game/img/_malina.jpg
  submissions/Eugene50/memory-pair-game/img/_watermelon.jpg
  submissions/Eugene50/memory-pair-game/img/apple.jpg
  submissions/Eugene50/memory-pair-game/img/back-face.jpg
  submissions/Eugene50/memory-pair-game/img/banana.jpg
  submissions/Eugene50/memory-pair-game/img/grusha.jpg
  submissions/Eugene50/memory-pair-game/img/klubnika.jpg
  submissions/Eugene50/memory-pair-game/img/malina.jpg
  submissions/Eugene50/memory-pair-game/img/watermelon.jpg
  submissions/Eugene50/memory-pair-game/index.html
  submissions/Eugene50/memory-pair-game/style.css
Labels: memory-pair-game

#331 memory pair game
  submissions/kalash14/memory-pair-game/index.html
  submissions/kalash14/memory-pair-game/main.js
  submissions/krash1408/memory-pair-game/css/normalize.css
  submissions/krash1408/memory-pair-game/css/style.css
  submissions/krash1408/memory-pair-game/img/bg.png
  submissions/krash1408/memory-pair-game/img/fb.svg
  submissions/krash1408/memory-pair-game/img/line.svg
  submissions/krash1408/memory-pair-game/img/skype.svg
  submissions/krash1408/memory-pair-game/img/snap.svg
  submissions/krash1408/memory-pair-game/img/tlg.svg
  submissions/krash1408/memory-pair-game/img/viber.svg
  submissions/krash1408/memory-pair-game/img/weixin.svg
  submissions/krash1408/memory-pair-game/img/whatsapp.svg
  submissions/krash1408/memory-pair-game/index.html
  submissions/krash1408/memory-pair-game/src/index.js
Labels: memory-pair-game

#326 Object Oriented JS
  submissions/mazvira/task_JS_OOP/app.js
Labels: js-oop

#274 oop exercise
  submissions/sioniks/oop-exercise/index.js
Labels: js-post-oop

#343 Add memory-pair-game
  submissions/alexdefender/memory-pair-game/css/style.css
  submissions/alexdefender/memory-pair-game/img/01.jpg
  submissions/alexdefender/memory-pair-game/img/02.jpg
  submissions/alexdefender/memory-pair-game/img/03.jpg
  submissions/alexdefender/memory-pair-game/img/04.jpg
  submissions/alexdefender/memory-pair-game/index.html
  submissions/alexdefender/memory-pair-game/js/js.js
Labels: memory-pair-game

#340 Memory Pair Game homework
  submissions/Roman-Halenko/memory-pair-game/game.js
  submissions/Roman-Halenko/memory-pair-game/image/beth.png
  submissions/Roman-Halenko/memory-pair-game/image/jerry.jpg
  submissions/Roman-Halenko/memory-pair-game/image/morty.png
  submissions/Roman-Halenko/memory-pair-game/image/pickle-rick.png
  submissions/Roman-Halenko/memory-pair-game/image/rick-and-morty.jpg
  submissions/Roman-Halenko/memory-pair-game/image/rick.png
  submissions/Roman-Halenko/memory-pair-game/image/rickmorty.jpg
  submissions/Roman-Halenko/memory-pair-game/image/ruben.png
  submissions/Roman-Halenko/memory-pair-game/image/snuffles.png
  submissions/Roman-Halenko/memory-pair-game/image/summer.jpg
  submissions/Roman-Halenko/memory-pair-game/index.html
  submissions/Roman-Halenko/memory-pair-game/style.css
Labels: memory-pair-game

#328 Friends app
  submissions/iamsokol/friends-app/circle.png
  submissions/iamsokol/friends-app/index.html
  submissions/iamsokol/friends-app/main.css
  submissions/iamsokol/friends-app/script.js
Labels: friends-app

#290 Friends App
  submissions/AlinaLadybug/friends-app/css/bootstrap.css
  submissions/AlinaLadybug/friends-app/css/style.css
  submissions/AlinaLadybug/friends-app/img/84.jpg
  submissions/AlinaLadybug/friends-app/img/LogoSample_ByTailorBrands (1).jpg
  submissions/AlinaLadybug/friends-app/img/LogoSample_ByTailorBrands.jpg
  submissions/AlinaLadybug/friends-app/img/down-arrow.png
  submissions/AlinaLadybug/friends-app/img/logo.png
  submissions/AlinaLadybug/friends-app/img/tuxedo.ico
  submissions/AlinaLadybug/friends-app/img/up-arrow.png
  submissions/AlinaLadybug/friends-app/index.html
  submissions/AlinaLadybug/friends-app/js/bootstrap.js
  submissions/AlinaLadybug/friends-app/js/script.js
Labels: friends-app

#315 add "Memory Pair Game"
  submissions/SergSenras/memory-pair-game/img/bulbasaur.png
  submissions/SergSenras/memory-pair-game/img/caterpie.png
  submissions/SergSenras/memory-pair-game/img/charmander.png
  submissions/SergSenras/memory-pair-game/img/ekans.png
  submissions/SergSenras/memory-pair-game/img/pidgey.png
  submissions/SergSenras/memory-pair-game/img/pikachu.png
  submissions/SergSenras/memory-pair-game/img/rattata.png
  submissions/SergSenras/memory-pair-game/img/squirtle.png
  submissions/SergSenras/memory-pair-game/index.html
  submissions/SergSenras/memory-pair-game/script.js
  submissions/SergSenras/memory-pair-game/style.css
Labels: memory-pair-game

#360 add Memory-pair-game
  submissions/AnnGrynchuk/memory_pair_game/css/style.css
  submissions/AnnGrynchuk/memory_pair_game/img/acdc.jpg
  submissions/AnnGrynchuk/memory_pair_game/img/background.jpg
  submissions/AnnGrynchuk/memory_pair_game/img/deep.jpg
  submissions/AnnGrynchuk/memory_pair_game/img/front.jpg
  submissions/AnnGrynchuk/memory_pair_game/img/kiss.jpg
  submissions/AnnGrynchuk/memory_pair_game/img/metallica.jpg
  submissions/AnnGrynchuk/memory_pair_game/img/pink.jpg
  submissions/AnnGrynchuk/memory_pair_game/img/rolling.jpg
  submissions/AnnGrynchuk/memory_pair_game/index.html
  submissions/AnnGrynchuk/memory_pair_game/js/main.js
Labels: memory-pair-game

#276 Add a-tiny-JS-world-oop
  submissions/alexdefender/a-tiny-JS-world-oop/index.js
Labels: js-post-oop

#229 add friends-app task
  submissions/Aldegid/friends-app/css/main.css
  submissions/Aldegid/friends-app/index.html
  submissions/Aldegid/friends-app/js/common.js
Labels: friends-app

#334 friends-app
  submissions/OlgaDubynka/friends-app/css/main.css
  submissions/OlgaDubynka/friends-app/css/reset.css
  submissions/OlgaDubynka/friends-app/img/menu.svg
  submissions/OlgaDubynka/friends-app/index.html
  submissions/OlgaDubynka/friends-app/js/main.js
Labels: friends-app

#347 DOM#6
  submissions/CrazyPike/DOM#6/index.js
  submissions/CrazyPike/DOM#6/sidemenu.html
  submissions/CrazyPike/DOM#6/style.css
Labels: js-dom

#339 Oop exercise
  submissions/AnnGrynchuk/oop_exercise/index.js
Labels: js-post-oop

#348 Pre-oop Done
  submissions/CrazyPike/pre-oop#7/index.js
Labels: js-pre-oop

#349 Frogger added #8
  submissions/CrazyPike/oop-js-frogger/README.md
  submissions/CrazyPike/oop-js-frogger/css/style.css
  submissions/CrazyPike/oop-js-frogger/images/Gem Blue.png
  submissions/CrazyPike/oop-js-frogger/images/Gem Green.png
  submissions/CrazyPike/oop-js-frogger/images/Gem Orange.png
  submissions/CrazyPike/oop-js-frogger/images/Heart.png
  submissions/CrazyPike/oop-js-frogger/images/Key.png
  submissions/CrazyPike/oop-js-frogger/images/Rock.png
  submissions/CrazyPike/oop-js-frogger/images/Selector.png
  submissions/CrazyPike/oop-js-frogger/images/Star.png
  submissions/CrazyPike/oop-js-frogger/images/char-boy.png
  submissions/CrazyPike/oop-js-frogger/images/char-cat-girl.png
  submissions/CrazyPike/oop-js-frogger/images/char-horn-girl.png
  submissions/CrazyPike/oop-js-frogger/images/char-pink-girl.png
  submissions/CrazyPike/oop-js-frogger/images/char-princess-girl.png
  submissions/CrazyPike/oop-js-frogger/images/enemy-bug.png
  submissions/CrazyPike/oop-js-frogger/images/grass-block.png
  submissions/CrazyPike/oop-js-frogger/images/stone-block.png
  submissions/CrazyPike/oop-js-frogger/images/water-block.png
  submissions/CrazyPike/oop-js-frogger/index.html
  submissions/CrazyPike/oop-js-frogger/js/app.js
  submissions/CrazyPike/oop-js-frogger/js/engine.js
  submissions/CrazyPike/oop-js-frogger/js/resources.js
Labels: js-oop

#318 add memory-pair-game
  submissions/iamsokol/memory-pair-game/index.html
  submissions/iamsokol/memory-pair-game/script.js
  submissions/iamsokol/memory-pair-game/style.css
Labels: memory-pair-game

#359 Friends app
  submissions/ivarshavets/friends-app/css/style.css
  submissions/ivarshavets/friends-app/index.html
  submissions/ivarshavets/friends-app/js/app.js
Labels: friends-app

#336 Friends App
  submissions/olek557/friends-app-task/common.js
  submissions/olek557/friends-app-task/index.html
  submissions/olek557/friends-app-task/style.css
Labels: friends-app

#323 add Frogger game
  submissions/AnnGrynchuk/js-oop/README.md
  submissions/AnnGrynchuk/js-oop/css/style.css
  submissions/AnnGrynchuk/js-oop/images/Gem Blue.png
  submissions/AnnGrynchuk/js-oop/images/Gem Green.png
  submissions/AnnGrynchuk/js-oop/images/Gem Orange.png
  submissions/AnnGrynchuk/js-oop/images/Heart.png
  submissions/AnnGrynchuk/js-oop/images/Key.png
  submissions/AnnGrynchuk/js-oop/images/Rock.png
  submissions/AnnGrynchuk/js-oop/images/Selector.png
  submissions/AnnGrynchuk/js-oop/images/Star.png
  submissions/AnnGrynchuk/js-oop/images/char-boy.png
  submissions/AnnGrynchuk/js-oop/images/char-cat-girl.png
  submissions/AnnGrynchuk/js-oop/images/char-horn-girl.png
  submissions/AnnGrynchuk/js-oop/images/char-pink-girl.png
  submissions/AnnGrynchuk/js-oop/images/char-princess-girl.png
  submissions/AnnGrynchuk/js-oop/images/enemy-bug.png
  submissions/AnnGrynchuk/js-oop/images/grass-block.png
  submissions/AnnGrynchuk/js-oop/images/stone-block.png
  submissions/AnnGrynchuk/js-oop/images/water-block.png
  submissions/AnnGrynchuk/js-oop/index.html
  submissions/AnnGrynchuk/js-oop/js/app.js
  submissions/AnnGrynchuk/js-oop/js/engine.js
  submissions/AnnGrynchuk/js-oop/js/resources.js
Labels: js-oop

#342 dom-api-task
  submissions/vadymkotlyarenko/js-dom/Index.html
  submissions/vadymkotlyarenko/js-dom/img/Anfield.jpg
  submissions/vadymkotlyarenko/js-dom/img/Jürgen_Klopp.jpg
  submissions/vadymkotlyarenko/js-dom/img/Liverpool_FC.png
  submissions/vadymkotlyarenko/js-dom/img/YoullNeverWalkAlone.jpg
  submissions/vadymkotlyarenko/js-dom/main.css
  submissions/vadymkotlyarenko/js-dom/main.js
Labels: js-dom

#352 Friend App
  submissions/CrazyPike/friend-app/css/style.css
  submissions/CrazyPike/friend-app/index.html
  submissions/CrazyPike/friend-app/js/index.js
Labels: friends-app

#319 Add a-tiny-JS-world code to index.js
  submissions/DJStar77/a-tiny-JS-world/index.js
Labels: js-pre-oop

#346 Building a Tiny JS World
  submissions/vadymkotlyarenko/a-tiny-js-world/index.js
Labels: js-pre-oop

#344 friends-app
  submissions/AlexNugda/friends-app/friends.js
  submissions/AlexNugda/friends-app/index.html
  submissions/AlexNugda/friends-app/style.css
Labels: friends-app

#361 Memory Pair Game
  submissions/mazvira/memory-pair-game/css/styles.css
  submissions/mazvira/memory-pair-game/img/blueberries.jpg
  submissions/mazvira/memory-pair-game/img/fruits.jpg
  submissions/mazvira/memory-pair-game/img/grape.jpg
  submissions/mazvira/memory-pair-game/img/lemon.jpg
  submissions/mazvira/memory-pair-game/img/melon.jpg
  submissions/mazvira/memory-pair-game/img/orange.jpg
  submissions/mazvira/memory-pair-game/img/pear.jpg
  submissions/mazvira/memory-pair-game/img/pineapple.jpg
  submissions/mazvira/memory-pair-game/img/pomegranate.jpg
  submissions/mazvira/memory-pair-game/img/strawberry.jpg
  submissions/mazvira/memory-pair-game/index.html
  submissions/mazvira/memory-pair-game/js/scripts.js
Labels: memory-pair-game

#355 js-oop
  submissions/vadymkotlyarenko/task_js_oop/app.js
Labels: js-oop

#322 DOM-task implemented with array.prototype.find() method
  submissions/thinker-tinker4/the_DOM_task/README.md
  submissions/thinker-tinker4/the_DOM_task/app.js
  submissions/thinker-tinker4/the_DOM_task/img/angular-icon.svg
  submissions/thinker-tinker4/the_DOM_task/img/react2.png
  submissions/thinker-tinker4/the_DOM_task/img/ruby1.png
  submissions/thinker-tinker4/the_DOM_task/img/vue3.png
  submissions/thinker-tinker4/the_DOM_task/index.css
  submissions/thinker-tinker4/the_DOM_task/index.html
Labels: js-dom

#345 Frogger-OOP-arcade-game-Task
  submissions/patrofimov/js-oop-frogger/app.js
Labels: js-oop

#286 add memory pair game task
  submissions/frostwolm/pair-game/css/app.css
  submissions/frostwolm/pair-game/css/normalize.css
  submissions/frostwolm/pair-game/img/abstract-1.png
  submissions/frostwolm/pair-game/img/abstract-10.png
  submissions/frostwolm/pair-game/img/abstract-11.png
  submissions/frostwolm/pair-game/img/abstract-12.png
  submissions/frostwolm/pair-game/img/abstract-2.png
  submissions/frostwolm/pair-game/img/abstract-3.png
  submissions/frostwolm/pair-game/img/abstract-4.png
  submissions/frostwolm/pair-game/img/abstract-5.png
  submissions/frostwolm/pair-game/img/abstract-6.png
  submissions/frostwolm/pair-game/img/abstract-7.png
  submissions/frostwolm/pair-game/img/abstract-8.png
  submissions/frostwolm/pair-game/img/abstract-9.png
  submissions/frostwolm/pair-game/img/card-back.png
  submissions/frostwolm/pair-game/index.html
  submissions/frostwolm/pair-game/js/app.js
Labels: memory-pair-game

#357 Task 11. Memory pair game
  submissions/babayK0/Memory-Pair-Game/README.md
  submissions/babayK0/Memory-Pair-Game/css/style.css
  submissions/babayK0/Memory-Pair-Game/favicon.ico
  submissions/babayK0/Memory-Pair-Game/img/bg.jpg
  submissions/babayK0/Memory-Pair-Game/img/card1.png
  submissions/babayK0/Memory-Pair-Game/img/card2.png
  submissions/babayK0/Memory-Pair-Game/img/card3.png
  submissions/babayK0/Memory-Pair-Game/img/card4.png
  submissions/babayK0/Memory-Pair-Game/img/card5.png
  submissions/babayK0/Memory-Pair-Game/img/card6.png
  submissions/babayK0/Memory-Pair-Game/img/card7.png
  submissions/babayK0/Memory-Pair-Game/img/card8.png
  submissions/babayK0/Memory-Pair-Game/img/cardbg.png
  submissions/babayK0/Memory-Pair-Game/index.html
  submissions/babayK0/Memory-Pair-Game/script.js
Labels: memory-pair-game

#325 add tiny js world by jsmuse
  submissions/jsmuse/a-tiny-JS-world/index.js
Labels: js-pre-oop

#366 Add friends-app
  submissions/alexdefender/friends-app/Readme.md
  submissions/alexdefender/friends-app/css/style.css
  submissions/alexdefender/friends-app/img/01.jpg
  submissions/alexdefender/friends-app/index.html
  submissions/alexdefender/friends-app/js/js.js
Labels: friends-app

#381 Frogger game created
  submissions/AlexNugda/frogger-oop/README.md
  submissions/AlexNugda/frogger-oop/css/style.css
  submissions/AlexNugda/frogger-oop/images/Gem Blue.png
  submissions/AlexNugda/frogger-oop/images/Gem Green.png
  submissions/AlexNugda/frogger-oop/images/Gem Orange.png
  submissions/AlexNugda/frogger-oop/images/Heart.png
  submissions/AlexNugda/frogger-oop/images/Key.png
  submissions/AlexNugda/frogger-oop/images/Rock.png
  submissions/AlexNugda/frogger-oop/images/Selector.png
  submissions/AlexNugda/frogger-oop/images/Star.png
  submissions/AlexNugda/frogger-oop/images/char-boy.png
  submissions/AlexNugda/frogger-oop/images/char-cat-girl.png
  submissions/AlexNugda/frogger-oop/images/char-horn-girl.png
  submissions/AlexNugda/frogger-oop/images/char-pink-girl.png
  submissions/AlexNugda/frogger-oop/images/char-princess-girl.png
  submissions/AlexNugda/frogger-oop/images/enemy-bug.png
  submissions/AlexNugda/frogger-oop/images/grass-block.png
  submissions/AlexNugda/frogger-oop/images/stone-block.png
  submissions/AlexNugda/frogger-oop/images/water-block.png
  submissions/AlexNugda/frogger-oop/index.html
  submissions/AlexNugda/frogger-oop/js/app.js
  submissions/AlexNugda/frogger-oop/js/engine.js
  submissions/AlexNugda/frogger-oop/js/resources.js
Labels: js-oop

#369 firends-app
  submissions/krash1408/friends-app/css/normalize.css
  submissions/krash1408/friends-app/css/style.css
  submissions/krash1408/friends-app/img/bars-solid.svg
  submissions/krash1408/friends-app/img/mars-solid.svg
  submissions/krash1408/friends-app/img/search-solid.svg
  submissions/krash1408/friends-app/img/sort-alpha-down-solid.svg
  submissions/krash1408/friends-app/img/sort-alpha-up-solid.svg
  submissions/krash1408/friends-app/img/sort-numeric-down-solid.svg
  submissions/krash1408/friends-app/img/sort-numeric-up-solid.svg
  submissions/krash1408/friends-app/img/venus-solid.svg
  submissions/krash1408/friends-app/index.html
  submissions/krash1408/friends-app/src/index.js
Labels: friends-app

#373 add a tiny js world oop style
  submissions/frostwolm/a-tiny-js-world-i/index.js
Labels: js-post-oop, late submission

#335 A-tiny-js-world-oop-task
  submissions/patrofimov/a-tiny-js-world-oop/index.js
Labels: js-post-oop

#362 JS-DOM
  submissions/mazvira/js-dom/css/styles.css
  submissions/mazvira/js-dom/img/huawei4.png
  submissions/mazvira/js-dom/img/iPhone2.png
  submissions/mazvira/js-dom/img/iPhone3.jpg
  submissions/mazvira/js-dom/img/samsung1.png
  submissions/mazvira/js-dom/index.html
  submissions/mazvira/js-dom/js/scripts.js
Labels: js-dom

#364 add "Friends App"
  submissions/SergSenras/friends-app/index.html
  submissions/SergSenras/friends-app/script.js
  submissions/SergSenras/friends-app/style.css
Labels: friends-app

#356 Task 13. Friends App
  submissions/babayK0/Friends-app/README.md
  submissions/babayK0/Friends-app/css/normalize.css
  submissions/babayK0/Friends-app/css/styles.css
  submissions/babayK0/Friends-app/favicon.ico
  submissions/babayK0/Friends-app/img/logo-big.png
  submissions/babayK0/Friends-app/img/logo.png
  submissions/babayK0/Friends-app/index.html
  submissions/babayK0/Friends-app/scripts.js
Labels: friends-app
