Repository kottans/frontend-2019-homeworks, pull requests merged in 2019-04, with the labels that each got.

#371 add friends app
  submissions/frostwolm/friends-app/css/app.css
  submissions/frostwolm/friends-app/img/sort-down.svg
  submissions/frostwolm/friends-app/img/sort-up.svg
  submissions/frostwolm/friends-app/index.html
  submissions/frostwolm/friends-app/js/app.js
Labels: friends-app

#378 Friends app
  submissions/mazvira/friends-app/css/styles.css
  submissions/mazvira/friends-app/index.html
  submissions/mazvira/friends-app/js/scripts.js
Labels: friends-app

#374 memory-pair-game
  submissions/vadymkotlyarenko/memory-pair-game/img/AtleticoM.png
  submissions/vadymkotlyarenko/memory-pair-game/img/Barcelona.png
  submissions/vadymkotlyarenko/memory-pair-game/img/Bavaria.png
  submissions/vadymkotlyarenko/memory-pair-game/img/BorussiaD.png
  submissions/vadymkotlyarenko/memory-pair-game/img/DynamoK.png
  submissions/vadymkotlyarenko/memory-pair-game/img/Liverpool.png
  submissions/vadymkotlyarenko/memory-pair-game/img/ManchesterCity.png
  submissions/vadymkotlyarenko/memory-pair-game/img/Napoli.png
  submissions/vadymkotlyarenko/memory-pair-game/img/field.jpg
  submissions/vadymkotlyarenko/memory-pair-game/img/uefa.png
  submissions/vadymkotlyarenko/memory-pair-game/index.html
  submissions/vadymkotlyarenko/memory-pair-game/index.js
  submissions/vadymkotlyarenko/memory-pair-game/main.css
Labels: memory-pair-game

#382 Friends-app-task
  submissions/patrofimov/friends-app/css/style.css
  submissions/patrofimov/friends-app/index.html
  submissions/patrofimov/friends-app/js/app.js
Labels: friends-app

#365 memory-game-task
  submissions/sioniks/memory-game/index.html
  submissions/sioniks/memory-game/index.js
Labels: memory-pair-game

#459 form-task
  submissions/OlgaDubynka/form_task/.gitignore
  submissions/OlgaDubynka/form_task/gulpfile.js
  submissions/OlgaDubynka/form_task/package-lock.json
  submissions/OlgaDubynka/form_task/package.json
  submissions/OlgaDubynka/form_task/src/images/001-help.svg
  submissions/OlgaDubynka/form_task/src/images/002-upload.svg
  submissions/OlgaDubynka/form_task/src/images/003-trash.svg
  submissions/OlgaDubynka/form_task/src/images/004-checked.svg
  submissions/OlgaDubynka/form_task/src/images/005-error.svg
  submissions/OlgaDubynka/form_task/src/images/006-suitcase.svg
  submissions/OlgaDubynka/form_task/src/images/007-comment.svg
  submissions/OlgaDubynka/form_task/src/images/009-document.svg
  submissions/OlgaDubynka/form_task/src/images/010-megaphone.svg
  submissions/OlgaDubynka/form_task/src/images/011-list.svg
  submissions/OlgaDubynka/form_task/src/images/012-file.svg
  submissions/OlgaDubynka/form_task/src/images/013-browser.svg
  submissions/OlgaDubynka/form_task/src/images/014-html.svg
  submissions/OlgaDubynka/form_task/src/images/015-tablet.svg
  submissions/OlgaDubynka/form_task/src/images/account.png
  submissions/OlgaDubynka/form_task/src/images/amazon.jpg
  submissions/OlgaDubynka/form_task/src/images/amazon.png
  submissions/OlgaDubynka/form_task/src/images/arrow-back.png
  submissions/OlgaDubynka/form_task/src/images/checked.svg
  submissions/OlgaDubynka/form_task/src/images/compass.svg
  submissions/OlgaDubynka/form_task/src/images/documents.png
  submissions/OlgaDubynka/form_task/src/images/error.svg
  submissions/OlgaDubynka/form_task/src/images/fb.svg
  submissions/OlgaDubynka/form_task/src/images/footer-logo.png
  submissions/OlgaDubynka/form_task/src/images/heart.svg
  submissions/OlgaDubynka/form_task/src/images/in.svg
  submissions/OlgaDubynka/form_task/src/images/info.svg
  submissions/OlgaDubynka/form_task/src/images/logo.png
  submissions/OlgaDubynka/form_task/src/images/order.png
  submissions/OlgaDubynka/form_task/src/images/paypal.jpg
  submissions/OlgaDubynka/form_task/src/images/paypal.png
  submissions/OlgaDubynka/form_task/src/images/share.svg
  submissions/OlgaDubynka/form_task/src/images/tw.svg
  submissions/OlgaDubynka/form_task/src/images/upload.svg
  submissions/OlgaDubynka/form_task/src/images/user-account.png
  submissions/OlgaDubynka/form_task/src/images/visa.jpg
  submissions/OlgaDubynka/form_task/src/images/visa.png
  submissions/OlgaDubynka/form_task/src/images/website.png
  submissions/OlgaDubynka/form_task/src/index.html
  submissions/OlgaDubynka/form_task/src/scss/_base.scss
  submissions/OlgaDubynka/form_task/src/scss/_footer.scss
  submissions/OlgaDubynka/form_task/src/scss/_form.scss
  submissions/OlgaDubynka/form_task/src/scss/_reset.scss
  submissions/OlgaDubynka/form_task/src/scss/_vars.scss
  submissions/OlgaDubynka/form_task/src/scss/style.scss
Labels: HTML5-Form

#389 Google popup by feroxes
  submissions/feroxes/google-popup/img/big_brother_ico_sprite.png
  submissions/feroxes/google-popup/img/big_brother_sprite.png
  submissions/feroxes/google-popup/img/face.png
  submissions/feroxes/google-popup/index.html
  submissions/feroxes/google-popup/reset.css
  submissions/feroxes/google-popup/style.css
Labels: Popup

#404 Google popup
  submissions/vladk96/google-popup/gulpfile.js
  submissions/vladk96/google-popup/package-lock.json
  submissions/vladk96/google-popup/package.json
  submissions/vladk96/google-popup/src/images/bell.svg
  submissions/vladk96/google-popup/src/images/menu.svg
  submissions/vladk96/google-popup/src/images/spritesheet.png
  submissions/vladk96/google-popup/src/index.pug
  submissions/vladk96/google-popup/src/scss/_normalize.scss
  submissions/vladk96/google-popup/src/scss/_sprite.scss
  submissions/vladk96/google-popup/src/scss/main.scss
Labels: Popup

#411 task-1 added
  submissions/lenadgit/task-1/css/style.css
  submissions/lenadgit/task-1/img/business.jpg
  submissions/lenadgit/task-1/img/calendar.jpg
  submissions/lenadgit/task-1/img/disk.jpg
  submissions/lenadgit/task-1/img/doc.jpg
  submissions/lenadgit/task-1/img/google.jpg
  submissions/lenadgit/task-1/img/mail.jpg
  submissions/lenadgit/task-1/img/play.jpg
  submissions/lenadgit/task-1/img/ring.jpg
  submissions/lenadgit/task-1/img/search.jpg
  submissions/lenadgit/task-1/img/tab.jpg
  submissions/lenadgit/task-1/img/translate.jpg
  submissions/lenadgit/task-1/img/youtube.jpg
  submissions/lenadgit/task-1/index.html
Labels: Popup

#415 popup done
  submissions/Oodmincheg/google-popup/img/3x3-grid.svg
  submissions/Oodmincheg/google-popup/img/account.svg
  submissions/Oodmincheg/google-popup/img/admin.svg
  submissions/Oodmincheg/google-popup/img/browser.svg
  submissions/Oodmincheg/google-popup/img/business.svg
  submissions/Oodmincheg/google-popup/img/calendar.svg
  submissions/Oodmincheg/google-popup/img/drive.svg
  submissions/Oodmincheg/google-popup/img/forms.svg
  submissions/Oodmincheg/google-popup/img/gmail.svg
  submissions/Oodmincheg/google-popup/img/google-plus.svg
  submissions/Oodmincheg/google-popup/img/google.svg
  submissions/Oodmincheg/google-popup/img/hangouts.svg
  submissions/Oodmincheg/google-popup/img/maps.svg
  submissions/Oodmincheg/google-popup/img/news.svg
  submissions/Oodmincheg/google-popup/img/photos.svg
  submissions/Oodmincheg/google-popup/img/playstore.svg
  submissions/Oodmincheg/google-popup/img/sheets.svg
  submissions/Oodmincheg/google-popup/img/slides.svg
  submissions/Oodmincheg/google-popup/img/translate.svg
  submissions/Oodmincheg/google-popup/img/vault.svg
  submissions/Oodmincheg/google-popup/img/youtube.svg
  submissions/Oodmincheg/google-popup/index.html
  submissions/Oodmincheg/google-popup/style.css
Labels: Popup

#428 popup
  submissions/igkos/popup/index.html
  submissions/igkos/popup/styles/icon.scss
  submissions/igkos/popup/styles/main.scss
Labels: Popup

#444 HTML5 Form
  submissions/denislukianenko/html5-form/css/animations.scss
  submissions/denislukianenko/html5-form/css/base.scss
  submissions/denislukianenko/html5-form/css/footer.scss
  submissions/denislukianenko/html5-form/css/header.scss
  submissions/denislukianenko/html5-form/css/main.scss
  submissions/denislukianenko/html5-form/css/main/choose-type.scss
  submissions/denislukianenko/html5-form/css/main/form-submit-section.scss
  submissions/denislukianenko/html5-form/css/main/pairings-section.scss
  submissions/denislukianenko/html5-form/css/main/signup-payment-section.scss
  submissions/denislukianenko/html5-form/css/main/summary-helpcenter.scss
  submissions/denislukianenko/html5-form/css/main/tone-urgency-section.scss
  submissions/denislukianenko/html5-form/css/main/upload-section.scss
  submissions/denislukianenko/html5-form/img/footer-logo.png
  submissions/denislukianenko/html5-form/img/logo.png
  submissions/denislukianenko/html5-form/img/payment-amazon.png
  submissions/denislukianenko/html5-form/img/payment-card.png
  submissions/denislukianenko/html5-form/img/payment-paypal.png
  submissions/denislukianenko/html5-form/img/tone-corporate.png
  submissions/denislukianenko/html5-form/img/tone-friendly.png
  submissions/denislukianenko/html5-form/img/tone-media.png
  submissions/denislukianenko/html5-form/img/type-documents.png
  submissions/denislukianenko/html5-form/img/type-social.png
  submissions/denislukianenko/html5-form/img/type-website.png
  submissions/denislukianenko/html5-form/index.html
  submissions/denislukianenko/html5-form/package-lock.json
  submissions/denislukianenko/html5-form/package.json
  submissions/denislukianenko/html5-form/style.scss
Labels: HTML5-Form

#454 Html5 forms
  submissions/KurosavaAkira/html5-forms/README.md
  submissions/KurosavaAkira/html5-forms/index.html
  submissions/KurosavaAkira/html5-forms/scss/fonts.scss
  submissions/KurosavaAkira/html5-forms/scss/footer.scss
  submissions/KurosavaAkira/html5-forms/scss/form-choose-languages.scss
  submissions/KurosavaAkira/html5-forms/scss/form-desired-tone.scss
  submissions/KurosavaAkira/html5-forms/scss/form-header.scss
  submissions/KurosavaAkira/html5-forms/scss/form-payment-method.scss
  submissions/KurosavaAkira/html5-forms/scss/form-select-media.scss
  submissions/KurosavaAkira/html5-forms/scss/form-tell-how-urgent.scss
  submissions/KurosavaAkira/html5-forms/scss/form-upload-documents.scss
  submissions/KurosavaAkira/html5-forms/scss/global.scss
  submissions/KurosavaAkira/html5-forms/scss/header.scss
  submissions/KurosavaAkira/html5-forms/scss/index.scss
  submissions/KurosavaAkira/html5-forms/scss/normalize.css
  submissions/KurosavaAkira/html5-forms/scss/variables.scss
Labels: HTML5-Form

#457 Forms HTML5
  submissions/CrazyPike/formss/_footer.scss
  submissions/CrazyPike/formss/_range-input.scss
  submissions/CrazyPike/formss/_section-languages.scss
  submissions/CrazyPike/formss/_section-payment.scss
  submissions/CrazyPike/formss/_section-quote.scss
  submissions/CrazyPike/formss/_section-tone-urgent.scss
  submissions/CrazyPike/formss/_section-translate.scss
  submissions/CrazyPike/formss/_section-upload.scss
  submissions/CrazyPike/formss/gulpfile.js
  submissions/CrazyPike/formss/img/arrow_back.png
  submissions/CrazyPike/formss/img/checked.png
  submissions/CrazyPike/formss/img/icon_amazon.png
  submissions/CrazyPike/formss/img/icon_cards.png
  submissions/CrazyPike/formss/img/icon_cloud.png
  submissions/CrazyPike/formss/img/icon_compass.png
  submissions/CrazyPike/formss/img/icon_corp.png
  submissions/CrazyPike/formss/img/icon_documents.png
  submissions/CrazyPike/formss/img/icon_facebook.png
  submissions/CrazyPike/formss/img/icon_file.png
  submissions/CrazyPike/formss/img/icon_friendly.png
  submissions/CrazyPike/formss/img/icon_heart.png
  submissions/CrazyPike/formss/img/icon_help.png
  submissions/CrazyPike/formss/img/icon_info.png
  submissions/CrazyPike/formss/img/icon_linkedin.png
  submissions/CrazyPike/formss/img/icon_media.png
  submissions/CrazyPike/formss/img/icon_network.png
  submissions/CrazyPike/formss/img/icon_nonvalid.png
  submissions/CrazyPike/formss/img/icon_order.png
  submissions/CrazyPike/formss/img/icon_paypal.png
  submissions/CrazyPike/formss/img/icon_profile.png
  submissions/CrazyPike/formss/img/icon_social.png
  submissions/CrazyPike/formss/img/icon_trash.png
  submissions/CrazyPike/formss/img/icon_tweeter.png
  submissions/CrazyPike/formss/img/icon_valid.png
  submissions/CrazyPike/formss/img/icon_website.png
  submissions/CrazyPike/formss/img/logo.png
  submissions/CrazyPike/formss/img/logo_grey.png
  submissions/CrazyPike/formss/index.html
  submissions/CrazyPike/formss/index.pug
  submissions/CrazyPike/formss/main.css
  submissions/CrazyPike/formss/main.css.map
  submissions/CrazyPike/formss/main.scss
  submissions/CrazyPike/formss/package-lock.json
  submissions/CrazyPike/formss/package.json
Labels: HTML5-Form

#460 HTML Form done
  submissions/Roman-Halenko/html-form/fontawesome/css/all.css
  submissions/Roman-Halenko/html-form/fontawesome/webfonts/fa-brands-400.eot
  submissions/Roman-Halenko/html-form/fontawesome/webfonts/fa-brands-400.svg
  submissions/Roman-Halenko/html-form/fontawesome/webfonts/fa-brands-400.ttf
  submissions/Roman-Halenko/html-form/fontawesome/webfonts/fa-brands-400.woff
  submissions/Roman-Halenko/html-form/fontawesome/webfonts/fa-brands-400.woff2
  submissions/Roman-Halenko/html-form/fontawesome/webfonts/fa-regular-400.eot
  submissions/Roman-Halenko/html-form/fontawesome/webfonts/fa-regular-400.svg
  submissions/Roman-Halenko/html-form/fontawesome/webfonts/fa-regular-400.ttf
  submissions/Roman-Halenko/html-form/fontawesome/webfonts/fa-regular-400.woff
  submissions/Roman-Halenko/html-form/fontawesome/webfonts/fa-regular-400.woff2
  submissions/Roman-Halenko/html-form/fontawesome/webfonts/fa-solid-900.eot
  submissions/Roman-Halenko/html-form/fontawesome/webfonts/fa-solid-900.svg
  submissions/Roman-Halenko/html-form/fontawesome/webfonts/fa-solid-900.ttf
  submissions/Roman-Halenko/html-form/fontawesome/webfonts/fa-solid-900.woff
  submissions/Roman-Halenko/html-form/fontawesome/webfonts/fa-solid-900.woff2
  submissions/Roman-Halenko/html-form/image/amazon.png
  submissions/Roman-Halenko/html-form/image/check-mark.svg
  submissions/Roman-Halenko/html-form/image/close.svg
  submissions/Roman-Halenko/html-form/image/document.png
  submissions/Roman-Halenko/html-form/image/logo.png
  submissions/Roman-Halenko/html-form/image/paypal.png
  submissions/Roman-Halenko/html-form/image/social.png
  submissions/Roman-Halenko/html-form/image/visa-master.png
  submissions/Roman-Halenko/html-form/image/visa.svg
  submissions/Roman-Halenko/html-form/image/web-page.png
  submissions/Roman-Halenko/html-form/index.html
  submissions/Roman-Halenko/html-form/stylesheet/styles.css
Labels: HTML5-Form

#370 add friend-app files
  submissions/webdevagent/friend-app-task/README.md
  submissions/webdevagent/friend-app-task/index.html
  submissions/webdevagent/friend-app-task/index.js
  submissions/webdevagent/friend-app-task/style.css
Labels: friends-app

#463 HTML5-Form
  submissions/dnzln/form/img/amazon.jpg
  submissions/dnzln/form/img/bad.jpg
  submissions/dnzln/form/img/bad2.png
  submissions/dnzln/form/img/check.jpg
  submissions/dnzln/form/img/docs.jpg
  submissions/dnzln/form/img/files.jpg
  submissions/dnzln/form/img/files.png
  submissions/dnzln/form/img/friends.jpg
  submissions/dnzln/form/img/friends.png
  submissions/dnzln/form/img/help-center.jpg
  submissions/dnzln/form/img/i.jpg
  submissions/dnzln/form/img/left.png
  submissions/dnzln/form/img/mastercard.jpg
  submissions/dnzln/form/img/media.jpg
  submissions/dnzln/form/img/media.png
  submissions/dnzln/form/img/minigalka.jpg
  submissions/dnzln/form/img/minigalka2.png
  submissions/dnzln/form/img/order.jpg
  submissions/dnzln/form/img/paypal.jpg
  submissions/dnzln/form/img/pro.jpg
  submissions/dnzln/form/img/pro.png
  submissions/dnzln/form/img/remove-active.png
  submissions/dnzln/form/img/remove-hover.png
  submissions/dnzln/form/img/remove.jpg
  submissions/dnzln/form/img/remove.png
  submissions/dnzln/form/img/soc.jpg
  submissions/dnzln/form/img/tri.jpg
  submissions/dnzln/form/img/tri.png
  submissions/dnzln/form/img/upload.jpg
  submissions/dnzln/form/img/upload.png
  submissions/dnzln/form/img/visa.jpg
  submissions/dnzln/form/img/website.jpg
  submissions/dnzln/form/index.html
  submissions/dnzln/form/style.css
Labels: HTML5-Form

#473 The Weather App by feroxes
  submissions/feroxes/the_weather_app/README.MD
Labels: weather-app

#467 Add weather-app component parser
  submissions/bugagashinka/weather-app/README.md
Labels: weather-app

#490 Marvel api react
  submissions/patrofimov/marvel-react/App.css
  submissions/patrofimov/marvel-react/App.js
  submissions/patrofimov/marvel-react/App.test.js
  submissions/patrofimov/marvel-react/api/api.js
  submissions/patrofimov/marvel-react/components/Character.js
  submissions/patrofimov/marvel-react/components/SearchBar.js
  submissions/patrofimov/marvel-react/index.css
  submissions/patrofimov/marvel-react/index.js
  submissions/patrofimov/marvel-react/logo.svg
  submissions/patrofimov/marvel-react/serviceWorker.js
  submissions/patrofimov/marvel-react/utils/utils.js
  submissions/patrofimov/weather-app/Readme.md
Labels: React-app

#486 Friends app react
  submissions/IrynaY/react-friends-app/.gitignore
  submissions/IrynaY/react-friends-app/README.md
  submissions/IrynaY/react-friends-app/package-lock.json
  submissions/IrynaY/react-friends-app/package.json
  submissions/IrynaY/react-friends-app/public/index.html
  submissions/IrynaY/react-friends-app/src/app.css
  submissions/IrynaY/react-friends-app/src/app.js
  submissions/IrynaY/react-friends-app/src/components/avatar/index.js
  submissions/IrynaY/react-friends-app/src/components/avatar/style.css
  submissions/IrynaY/react-friends-app/src/components/character-info/index.js
  submissions/IrynaY/react-friends-app/src/components/character-info/style.css
  submissions/IrynaY/react-friends-app/src/components/character-list/index.js
  submissions/IrynaY/react-friends-app/src/components/character-list/style.css
  submissions/IrynaY/react-friends-app/src/components/filter/index.js
  submissions/IrynaY/react-friends-app/src/components/filter/style.css
  submissions/IrynaY/react-friends-app/src/components/pagination/index.js
  submissions/IrynaY/react-friends-app/src/components/pagination/style.css
  submissions/IrynaY/react-friends-app/src/components/sorter/index.js
  submissions/IrynaY/react-friends-app/src/components/sorter/style.css
  submissions/IrynaY/react-friends-app/src/components/spinner/index.js
  submissions/IrynaY/react-friends-app/src/components/spinner/style.css
  submissions/IrynaY/react-friends-app/src/index.js
  submissions/IrynaY/react-friends-app/src/logo.svg
  submissions/IrynaY/react-friends-app/src/services/index.js
Labels: React-app

#483 simple react app
  submissions/nazmariam/kottanterest/api.js
  submissions/nazmariam/kottanterest/components/App.js
  submissions/nazmariam/kottanterest/components/Header/images/logo.png
  submissions/nazmariam/kottanterest/components/Header/images/search.svg
  submissions/nazmariam/kottanterest/components/Header/index.js
  submissions/nazmariam/kottanterest/components/Header/style.css
  submissions/nazmariam/kottanterest/components/ImageList/index.js
  submissions/nazmariam/kottanterest/components/ImageList/style.css
  submissions/nazmariam/kottanterest/index.js
  submissions/nazmariam/kottanterest/utils/helpers.js
Labels: React-app
