Repository kottans/frontend-2019-homeworks, pull requests merged in 2019-02, with the labels that each got.

#376 Friends app task
  submissions/Roman-Halenko/friends-app/app.js
  submissions/Roman-Halenko/friends-app/index.html
  submissions/Roman-Halenko/friends-app/style.css
Labels: friends-app

#430 HTML5 form
  submissions/Vitaminvp/HTML5-form/.babelrc
  submissions/Vitaminvp/HTML5-form/package.json
  submissions/Vitaminvp/HTML5-form/src/index.html
  submissions/Vitaminvp/HTML5-form/src/index.js
  submissions/Vitaminvp/HTML5-form/src/style/_base.scss
  submissions/Vitaminvp/HTML5-form/src/style/_fonts.scss
  submissions/Vitaminvp/HTML5-form/src/style/_mixins.scss
  submissions/Vitaminvp/HTML5-form/src/style/_normalize.scss
  submissions/Vitaminvp/HTML5-form/src/style/_reset.scss
  submissions/Vitaminvp/HTML5-form/src/style/_variables.scss
  submissions/Vitaminvp/HTML5-form/src/style/order.scss
  submissions/Vitaminvp/HTML5-form/src/style/order_payment.scss
  submissions/Vitaminvp/HTML5-form/src/style/order_radio.scss
  submissions/Vitaminvp/HTML5-form/src/style/order_tone.scss
  submissions/Vitaminvp/HTML5-form/src/style/order_top.scss
  submissions/Vitaminvp/HTML5-form/src/style/order_upload.scss
  submissions/Vitaminvp/HTML5-form/src/style/order_urgency.scss
  submissions/Vitaminvp/HTML5-form/src/style/style.scss
  submissions/Vitaminvp/HTML5-form/webpack.config.js
Labels: HTML5-Form

#402 add google-style-popup task
  submissions/Aldegid/google-style-popup/.gitignore
  submissions/Aldegid/google-style-popup/app/img/all-serv.png
  submissions/Aldegid/google-style-popup/app/img/bell.png
  submissions/Aldegid/google-style-popup/app/img/favicon/apple-touch-icon-180x180.png
  submissions/Aldegid/google-style-popup/app/img/favicon/favicon.ico
  submissions/Aldegid/google-style-popup/app/img/mnu.png
  submissions/Aldegid/google-style-popup/app/img/photo.jpg
  submissions/Aldegid/google-style-popup/app/index.html
  submissions/Aldegid/google-style-popup/app/sass/main.sass
  submissions/Aldegid/google-style-popup/gulpfile.js
  submissions/Aldegid/google-style-popup/package-lock.json
  submissions/Aldegid/google-style-popup/package.json
Labels: Popup

#434 Popup
  submissions/vitaliykravchyk/popup/index.html
  submissions/vitaliykravchyk/popup/main.scss
Labels: Popup

#431 html5-form ready for review
  submissions/linkqwd/html5-form/css/styles.css
  submissions/linkqwd/html5-form/index.html
  submissions/linkqwd/html5-form/sass/_common.sass
  submissions/linkqwd/html5-form/sass/_mixins.sass
  submissions/linkqwd/html5-form/sass/_normalize.sass
  submissions/linkqwd/html5-form/sass/_range.sass
  submissions/linkqwd/html5-form/sass/_vars.sass
  submissions/linkqwd/html5-form/sass/blocks.sass
  submissions/linkqwd/html5-form/sass/styles.sass
Labels: HTML5-Form

#413 Google-style Popup
  submissions/dnzln/popup/apps-icons.png
  submissions/dnzln/popup/icons.png
  submissions/dnzln/popup/iconsdark.jpg
  submissions/dnzln/popup/index.html
  submissions/dnzln/popup/style.css
Labels: Popup

#442 Add html5-form
  submissions/CuteShaun/html5-form/.gitignore
  submissions/CuteShaun/html5-form/config.json
  submissions/CuteShaun/html5-form/fonts/css/font-awesome.min.css
  submissions/CuteShaun/html5-form/fonts/web-fonts/FontAwesome.otf
  submissions/CuteShaun/html5-form/fonts/web-fonts/fontawesome-webfont.eot
  submissions/CuteShaun/html5-form/fonts/web-fonts/fontawesome-webfont.svg
  submissions/CuteShaun/html5-form/fonts/web-fonts/fontawesome-webfont.ttf
  submissions/CuteShaun/html5-form/fonts/web-fonts/fontawesome-webfont.woff
  submissions/CuteShaun/html5-form/fonts/web-fonts/fontawesome-webfont.woff2
  submissions/CuteShaun/html5-form/gulpfile.js
  submissions/CuteShaun/html5-form/html/index.html
  submissions/CuteShaun/html5-form/html/templates/footer.html
  submissions/CuteShaun/html5-form/html/templates/header.html
  submissions/CuteShaun/html5-form/img/amazon.jpg
  submissions/CuteShaun/html5-form/img/logo-dark.jpg
  submissions/CuteShaun/html5-form/img/logo.jpg
  submissions/CuteShaun/html5-form/img/mastercard.jpg
  submissions/CuteShaun/html5-form/img/paypal.jpg
  submissions/CuteShaun/html5-form/img/tablet.jpg
  submissions/CuteShaun/html5-form/img/translate-1.jpg
  submissions/CuteShaun/html5-form/img/translate-2.jpg
  submissions/CuteShaun/html5-form/img/translate-3.jpg
  submissions/CuteShaun/html5-form/img/visa.jpg
  submissions/CuteShaun/html5-form/index.html
  submissions/CuteShaun/html5-form/package-lock.json
  submissions/CuteShaun/html5-form/package.json
  submissions/CuteShaun/html5-form/scss/abstracts/_base.scss
  submissions/CuteShaun/html5-form/scss/abstracts/_mixins.scss
  submissions/CuteShaun/html5-form/scss/abstracts/_page.scss
  submissions/CuteShaun/html5-form/scss/abstracts/_typography.scss
  submissions/CuteShaun/html5-form/scss/abstracts/_variables.scss
  submissions/CuteShaun/html5-form/scss/components/_buttons.scss
  submissions/CuteShaun/html5-form/scss/components/_footer.scss
  submissions/CuteShaun/html5-form/scss/components/_header.scss
  submissions/CuteShaun/html5-form/scss/components/_input.scss
  submissions/CuteShaun/html5-form/scss/components/_range.scss
  submissions/CuteShaun/html5-form/scss/styles.scss
  submissions/CuteShaun/html5-form/scss/utils/_helpers.scss
  submissions/CuteShaun/html5-form/scss/utils/_normalize.scss
Labels: HTML5-Form

#433 html5-form done
  submissions/justdevway/html5-form/package-lock.json
  submissions/justdevway/html5-form/package.json
  submissions/justdevway/html5-form/src/img/015-tablet.svg
  submissions/justdevway/html5-form/src/img/browser.svg
  submissions/justdevway/html5-form/src/img/cards/amazon.svg
  submissions/justdevway/html5-form/src/img/cards/mastercard.svg
  submissions/justdevway/html5-form/src/img/cards/paypal.svg
  submissions/justdevway/html5-form/src/img/cards/visa.svg
  submissions/justdevway/html5-form/src/img/checked.svg
  submissions/justdevway/html5-form/src/img/comment.svg
  submissions/justdevway/html5-form/src/img/document.svg
  submissions/justdevway/html5-form/src/img/down.svg
  submissions/justdevway/html5-form/src/img/error.svg
  submissions/justdevway/html5-form/src/img/file.svg
  submissions/justdevway/html5-form/src/img/help.svg
  submissions/justdevway/html5-form/src/img/html.svg
  submissions/justdevway/html5-form/src/img/information.svg
  submissions/justdevway/html5-form/src/img/list.svg
  submissions/justdevway/html5-form/src/img/megaphone.svg
  submissions/justdevway/html5-form/src/img/suitcase.svg
  submissions/justdevway/html5-form/src/img/trash.svg
  submissions/justdevway/html5-form/src/img/upload.svg
  submissions/justdevway/html5-form/src/index.html
  submissions/justdevway/html5-form/src/index.js
  submissions/justdevway/html5-form/src/scss/base/base.scss
  submissions/justdevway/html5-form/src/scss/base/variables.scss
  submissions/justdevway/html5-form/src/scss/components/button.scss
  submissions/justdevway/html5-form/src/scss/components/checkbox.scss
  submissions/justdevway/html5-form/src/scss/components/doc-select.scss
  submissions/justdevway/html5-form/src/scss/components/documents.scss
  submissions/justdevway/html5-form/src/scss/components/help.scss
  submissions/justdevway/html5-form/src/scss/components/login.scss
  submissions/justdevway/html5-form/src/scss/components/main-input.scss
  submissions/justdevway/html5-form/src/scss/components/order.scss
  submissions/justdevway/html5-form/src/scss/components/radio-input.scss
  submissions/justdevway/html5-form/src/scss/components/range.scss
  submissions/justdevway/html5-form/src/scss/components/select.scss
  submissions/justdevway/html5-form/src/scss/components/upload.scss
  submissions/justdevway/html5-form/src/scss/index.scss
  submissions/justdevway/html5-form/src/scss/layout/form.scss
  submissions/justdevway/html5-form/src/scss/layout/header.scss
  submissions/justdevway/html5-form/webpack.common.js
  submissions/justdevway/html5-form/webpack.dev.js
  submissions/justdevway/html5-form/webpack.prod.js
Labels: HTML5-Form

#435 html form done
  submissions/nazmariam/html-form/_media.scss
  submissions/nazmariam/html-form/_normalize.scss
  submissions/nazmariam/html-form/_variables.scss
  submissions/nazmariam/html-form/index.html
  submissions/nazmariam/html-form/main.scss
Labels: HTML5-Form
